*{
    margin: 0;
    padding:0;
}

.slider{
    width:1100px;
    border:10px solid black;
    height:600px;
    overflow:hidden;

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.nav{
    position: absolute;
    bottom:16px;
    left:50%;
    transform: translate(-50%);
    display:flex;
}

.switch{
    height:8px;
    width:30px;
    cursor: pointer;
    background-color: #ddd;
    opacity:0.7;
    border-radius:10px;
    transition: all 0.4 ease;
    margin: 10px;

}

.switch:hover{
    opacity:1;
    transform: scale(1.1);
}

input[name="rad"]{
    position: absolute;
    visibility: hidden;
}
.slider-container{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all 0.5s ease;
}

#rad1:checked ~.s1 {
    margin-left:0;
}
#rad2:checked ~.s1 {
    margin-left:-25%;
}
#rad3:checked ~ .s1 {
    margin-left:-50%;
}
#rad4:checked ~ .s1 {
    margin-left:-75%;
}

.slide img {
margin-left:20px ;
margin-top: 20px;
width:80%;
height:80%;
}