*{
    margin: 0;
    padding:0;
}

.slider{
    background-color:black;
    max-width:1300px;
    border:10px solid black;
    height:600px;
    overflow:hidden;

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.nav{
    position: absolute;
    bottom:10%;
    left:92%; 
    transform: translate(-50%);
    display:flex;
}

.switch{
    height:8px;
    width:8px;
    cursor: pointer;
    background-color: rgb(17, 17, 117);
    opacity:0.7;
    border-radius:50%;
    transition: all 0.4 ease;
    margin: 3px;
    border: 1px solid  rgb(11, 125, 255); 
    

}

.switch:hover{
    background-color: white;
    transform: scale(1.1);
}
.description {
    margin-left: 5%;
    color:white;

}


input[name="rad"]{
    position: absolute;
    visibility: hidden;
}
.slider-container{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all 0.5s ease;
   display: flex;
   flex-direction: column;
}

#rad1:checked ~.s1 {
    margin-left:0;
    
}
#rad2:checked ~.s1 {
    margin-left:-25%;
}
#rad3:checked ~ .s1 {
    margin-left:-50%;
}
#rad4:checked ~ .s1 {
    margin-left:-75%;
}

.slide img {
margin: 1rem auto;
width:90%;
height:80%;
 border: 1px solid black;
    border-radius:10px;
}

/* .cat {
    background-color: black;
    transform: scale(1.1);   
} */

.nav span {
    display: block;
    height:8px;
    width:8px;
    cursor: pointer;
    background-color: rgb(17, 17, 117);
    opacity:0.7;
    border-radius:50%;
    transition: all 0.4 ease;
    margin: 3px;
    border: 1px solid  rgb(11, 125, 255); 
}

#rad1:checked ~ label{
    color: blue;
  }